 .ViostreamIframe {
     overflow: hidden;
     padding-top: 52.30%;
     position: absolute;
     z-index:2;
}
 .ViostreamIframe iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     z-index:2;
     top: 0;
     width: 100%;
}
 * {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     outline: none;
     -webkit-border: 0;
     -moz-border: 0;
     border: 0;
     cursor: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
}
 html,body {
     width: 100vw;
     width: 100svw;
     height: 100vh;
     height: 100svh;
     background: #000;
     overflow: hidden;
}
 video {
     width: 100vw;
     width: 100svw;
     height: 100vh;
     height: 100svh;
     overflow: hidden 
}
 .button-refresh{
     display: none;
     position: absolute;
     top: 10px;
     right: 10px;
    /*background-color: #20BB2E;
    */
     background-color: rgb(32,178,170,.7);
     padding: 2px 5px;
     font-size: 0.7em;
     color: white;
     border: 1px solid rgba(255,255,255,.6);
     border-radius: 3px;
    z-index:2;
}
 #container {
     width: 100vw;
     height: 100vh;
}
/* This is the CSS for your logo, to position it on top of the video. */
 #myLogo {
     pointer-events: none !important;
     position: absolute;
     right: 15px;
     top: 15px;
     display: inline-block;
     height:41px;
     width:100px;
     z-index:1;
}
/* #myLogo:before {
     content: '';
     z-index:2!important;
     width: 100px;
     height: 100%;
     margin-top: 20px!important;
     margin:auto;
     position: absolute;
     top: 0;
     right: 15px;
     opacity: 0.15;
     filter: blur;
     background: linear-gradient(to right, transparent 0%, #dddddd8c 40%, #fff 60%, transparent 100%);
     transform: translate(10, -25%) ;
     animation: blick 8s infinite;
}
 @keyframes blick {
     0% {
         transform: translate(-20%, -25%) ;
    }
     20% {
         transform: translate(100%, -25%) ;
    }
     100% {
         transform: translate(100%, -25%) ;
    }
}
*/
 .myLogo {
     background-color: rgba(51, 51, 51, 0.098);
     backdrop-filter: blur(1.2px);
     border-radius: 10px;
}
 .shaka-play-button {
     transform: scale(0.8);
    /* Ukuran ikon play dan spinner sama */
}
 .shaka-play-button-container{
     opacity: 0.6;
}
 .shaka-spinner-container {
     transform: scale(0.8);
     color: white;
}
/*.shaka-video-container .material-icons-round {
     color: rgb(32,178,170);
}
*/
/* Noscript Option */
 .lazy:not([lazied]){
    display:none
}
 .noJs{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0;
    z-index:99999;
    max-width:100%;
    max-height:100%;
    margin:auto;
    padding:10px 5px;
    background:rgb(0,0,0,1);
    font-size:16px;
    box-shadow:0 10px 20px -10px rgba(0,0,0,1);
    color:#fff
}
 .noJs::before{
    content:attr(data-text);
    padding:0 10px;
    flex-grow:1
}
/* .noJs label{
    flex-shrink:0;
    padding:10px
}
 .noJs label::after{
    content:'\2715';
    line-height:18px;
    font-size:14px
}
 */
.nJs:checked ~ .noJs{
    display:none
}
 .hidden {
    height: 0px;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
     display: none;
}
 
